.nav-container {
	display: flex;
	justify-content: space-between;
	padding: 5px 100px;
	align-items: center;
	background-color: rgb(243, 243, 243);
}
.frame {
	display: flex;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.flex-nav {
	display: flex;
	list-style-type: none;
	align-items: center;
}
.flex-nav,
a {
	text-decoration: none;
	gap: 20px;
	font-size: 18px;
	color: rgb(22, 21, 21);
}
.icon {
	background-color: rgb(219, 219, 219);
	padding: 10px;
	border-radius: 5px;
}
.span {
	color: rgb(243, 9, 68);
}

/* bannar section  */
.bannar-container {
	display: flex;
	justify-content: space-between;
	margin: 50px 250px;
	align-items: center;
}
.bannar-container > h1 {
	font-size: 30px;
}

.goat {
	font-size: 5rem;
	margin: 1px auto;
	color: rgb(196, 78, 231);
}
.btn-primary {
	padding: 12px;
	width: 120px;
	border-radius: 20px;
	color: white;
	background-color: rgb(243, 9, 68);
	border: 0;
}
.btn-secondary {
	padding: 12px;
	width: 150px;
	border-radius: 20px;
	color: white;
	background-color: #337f92;
	border: 0;
	margin-left: 10px;
}
.bannar-image > img {
	width: 100%;
	width: 600px;
	height: auto;
}

/* shared or multipul property  */
.light-color {
	color: rgb(49, 48, 48);
	font-size: 18px;
}

/* online-game section */
.card-image {
	display: flex;
	justify-content: space-around;
}

/* responsive website  */
@media screen and (max-width: 576px) {
	.nav-container,
	.bannar-container {
		flex-direction: column;
	}
	.bannar-image > img {
		width: 400px;
		margin-top: 30px;
	}
}
